*{
    margin: 0;
    padding: 0;
    
}

body{
  
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(BeansWallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    background-color: rgba(227, 196, 174, 0.7);
    padding: 20px;
    border: 5px solid rgb(223, 117, 41);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 90%;
}

img{
 width: 350px;
 border: 5px solid rgb(223, 117, 41);
 margin: auto;
}

.headDiv {
    
    /* margin: auto; */
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100vw;
    background-color: rgb(223, 117, 41);
    padding: 20px;
    
    

}

#headImage{
    max-width: 100px;
    border-radius: 80%;
    border: 5px solid rgb(227, 196, 174);
    margin-right: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    
}

.left{
    margin-left: 20px;
}

h1{
    font-family: fantasy;
}

a{
    font-size: small;

}

.carousel {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}

.carousel-inner {
    display: flex;
    width: 500%;
    animation: slide 20s infinite;
}

.carousel-item {
    flex: 1 0 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

@keyframes slide {
    0%, 16.66% { transform: translateX(0); }
    20%, 36.66% { transform: translateX(-100%); }
    40%, 56.66% { transform: translateX(-200%); }
    60%, 76.66% { transform: translateX(-300%); }
    80%, 96.66% { transform: translateX(-400%); }
    1
