

body{
    background-image: url(RaccoonEscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

img{
    width: 350px
}

.content {

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(227, 196, 174, 0.3);
    padding: 20px;
    max-width: 90%;
    
}

a{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
